*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #8B1010;
    padding: 1.55rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav-link{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    align-items: right;
}
.navbar img{
    width: 30%;
    max-width: 150px;
    height: auto;
    display: block;
}
.nav-link:hover,
.nav-link:active {
    background-color: rgb(197, 33, 33);
    border-radius: 4px;
}
.main-content{
    padding: 2rem;
    min-height: 80vh;
}
footer{
    background-color: #8B1010;
    color: white;
    text-align: left;
    padding: 1.5rem;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toglle{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
@media(max-width: 768px){
    .navbar{
        position: relative;
    }
    .menu-toglle{
        display: block;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    #menu-checkbox:checked ~ .nav-list{
        display: flex;
    }
    .nav-link{
        padding: 1rem;
    }
}
.navbar img{
    width: 70%;
    max-width: 150px;
    height: auto;
}
footer{
    padding: 1.5rem;
}

.search-box {
  display: flex;
  color: rgba(245, 67, 67, 0.6);
  width: 80rem;
}

.search-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px 0 0 5px;
}

.search-box button {
  padding: 8px 12px;
  border: none;
  background: rgb(197, 33, 33);
  color: rgb(255, 255, 255);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
i{
    width: 30px;
}
