* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #8B1010;
    border: 1rem;
    padding: 1rem;
    display: flex;


}

.barrinha {
    height: 3rem;
    opacity: 40%;

}

.perfil {
    text-align: center;
    border-radius: 50%;
    margin: 1rem;
    background-color: #8B1010;
}

.login {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 25px;


}

.busca {
    width: 70rem;
    margin: 1rem;
    height: 3rem;
    border-radius: 15px;
    background-color: #BA8989;

}

.busca2 {
    width: 2cap;
    margin: 1.5rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #BA8989;

}

#texto {
    text-decoration: white;
}

.navlink {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
transform: scale(30px);
}


.center {
    text-align: center;
    padding: 100px;
}

.baner {
    width: 90%;
}

.prdt1 {
    border-radius: 15px;
    width: 30px;
    text-align: center;
    padding: 1rem 1rem;
    display: grid;
    transform: translateY(-5px);
}

.txtpdrt1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem 1rem;
    text-align: center;
}

.navprdt {
    display: flex;


}

.div1 {
    border: 1rem;
    padding: 1rem;



}


.rodape {
    background-color: #8B1010;
    padding: 1rem;

}

.Pe {
    color: white;
}

.sitePrdt1 {
    border-radius: 15px;
    width: 1000px;
    text-align: center;
    padding: 1rem 1rem;
    display: flex;
}

.textSa {
    display: flex;
    text-align: 1000px;
}

.form1 {
    text-align: left;
    margin: 10rem;
    align-items: normal;

}

.form2 {
    text-align: left;
    margin: 10rem;
    align-items: normal;

}

.caixas {
    width: 30rem;
    margin: 1rem;
    height: 3rem;

}

.senha {
    text-decoration: underline;
    opacity: 50%;
    text-align: left;
}

.botao1 {
    width: 12rem;
    height: 2.5rem;
    padding: 1rem;
    border: 1rem;
    color: white;
    background-color: #FF0000;
    text-decoration: none;

}

.barra {
    background-color: #FF0000;

    height: 450px;
    padding: 6px;
    margin-top: 100px;
    border-radius: 10px;
    opacity: 90%;

}

.navvv {
    display: flex;
    text-align: center;
}

.cad {
    text-align: center;
}

.caixas2 {
    width: 40rem;
    margin: 1rem;
    height: 3rem;
    text-align: center;

}

.cad2 {
    text-align: right;
    display: flex;
    border: 10rem;

}

.caixas22 {
    width: 10rem;
    margin: 1rem;
    height: 2rem;
    text-align: center;

}

.cad3{ 
    display: flex;
}

.caixas3 {
    width: 20rem;
    margin: 1rem;
    height: 3rem;
    text-align: center;
  }
.div1{
    text-align: center;
    
   

}
